.chatContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 150px;
	background: #2c65c8;
	width: 250px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

	z-index: 10;
}

.chatContainer header {
	font-size: 18px;
	font-weight: 700;
	color: white;
	padding: 10px 0;
	text-align: center;
}

.chatContainer img {
	width: 26px;
	height: 26px;
	object-fit: cover;
	border-radius: 13px;
}

.chatContainer .userList {
	background: white;
	padding: 0 15px;
}

.chatContainer .user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px 4px;
	font-size: 14px;
	border-bottom: solid 1px #ccc;
}

.displayNone {
	display: none;
}
