.profileModal {
	width: 250px;
	background: white;
	height: 350px;
	box-shadow: 0px 5px 20px #ccc, 0 5px 20px #ccc;
	border-radius: 25px;
	text-align: center;
	padding: 15px;
	position: absolute;
	top: 15;
	right: 0;
	z-index: 500;
}

.profileModal img {
	margin-top: 10px;
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50px;
}

.profileModal p {
	font-weight: 700;
	margin-top: 5px;
	font-size: 18px;
}

.profileModal h3 {
	font-weight: 700;
	margin-top: 5px;
	font-size: 14px;
}

.profileModal h2 {
	font-weight: 700;
	color: #acacac;
	font-size: 14px;
	margin-top: 5px;
}

.userList {
	padding: 2px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: solid 1px #ccc;
}

.userList:last-child {
	margin-bottom: 25px;
}

.imageContainer {
	width: 20%;
}

.userList img {
	width: 35px;
	height: 35px;
	object-fit: cover;
	margin-right: 10px;
}

.profileModal .button {
	background-color: red;
	color: white;
	padding: 5px 10px;
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
	border-radius: 25px;
}
