.userDetails {
	font-size: 18px;
	font-weight: 700;
	border-bottom: solid 2px #e8e8e8;
	padding-bottom: 10px;
}

.userDetails img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	object-fit: cover;
	margin: auto;
	display: block;
}

.userName {
	margin: 10px 0;
	font-weight: 700;
	text-align: center;
}

.details {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.details .field {
	width: 40%;
	text-align: right;
	color: #a5a5a5;
}

.details .value {
	color: #5e5e5e;
	width: 60%;
	text-align: left;
	margin-left: 10px;
}
