.profileWrapper {
	width: 100%;
	height: 100%;
	padding: 10px 30px;
	position: relative;
	z-index: 1;
}

.profileWrapper header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.profileWrapper header img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 25px;
}

header p {
	font-size: 20px;
	font-weight: 700;
}

.profileButton {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.profileButton p {
	margin-left: 10px;
}

.profileWrapper section {
	display: flex;
	margin-top: 15px;
	width: 100%;
}

.userDetails {
	width: 40%;
	border-right: solid 2px #e8e8e8;
	padding-right: 50px;
}

.addressDetails {
	width: 60%;
}
